absl-py==0.11.0
alabaster==0.7.12
appdirs==1.4.4
appnope==0.1.0
astor==0.8.1
attrs==20.3.0
Babel==2.8.0
backports-abc==0.5
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
bcrypt==3.1.7
beanbag-docutils==1.7.1
bleach==3.2.1
bzr==2.7.0
cachetools==3.1.1
certifi==2020.11.8
cffi==1.14.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
configparser==4.0.2
contextlib2==0.6.0.post1
coverage==5.3
cryptography==3.1
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
Django==1.11.29
django-braces==1.13.0
django-cors-headers==1.1.0
# Editable install with no version control (django-evolution==2.0)
gunicorn==19.10.0